<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>modifier Parc</title>
</head>
<body>
	<div layout:fragment="c1">
	<div class="container">
			<h1>Modifier Parc</h1>
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #363333">Parc</div>
			<div class="panel-body">
				<form th:action="@{/saveParc}" method="post">
					<div class="form-group">
						<label class="control-label">ID:</label>
						<input class="form-control" type="text" name="id" th:value="${parc.id}" readonly>
						<span th:errors="${parc.id}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Name:</label>
						<input class="form-control" type="text" name="name" th:value="${parc.name}">
						<span th:errors="${parc.name}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Longitude:</label>
						<input class="form-control" type="text" name="longitude" th:value="${parc.longitude}">
						<span th:errors="${parc.longitude}" class="text-danger"></span>
					
					</div>
					<div class="form-group">
						<label class="control-label">Latitude:</label>
						<input class="form-control" type="text" name="latitude" th:value="${parc.latitude}">
						<span th:errors="${parc.latitude}" class="text-danger"></span>

					</div>
					<div class="form-group">
						<label class="control-label">Altitude:</label>
						<input class="form-control" type="text" name="altitude" th:value="${parc.altitude}">
						<span th:errors="${parc.altitude}" class="text-danger"></span>

					</div>
					<div class="form-group">
						<label class="control-label">Nombre Salles:</label>
						<input class="form-control" type="text" name="nombreSalles" th:value="${parc.nombreSalles}">
						<span th:errors="${parc.nombreSalles}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Arrondissements:</label>
						<select class="form-control" th:field="*{parc.arrondissement.id}">
						<option th:value="${parc.arrondissement.id}" th:text="${parc.arrondissement.name}"></option>
						<option th:each="v:${listArrondissements}"  th:text="${v.name}" th:value="${v.id}" >
						</select>
						<span th:errors="${parc.arrondissement.id}" class="text-danger"></span>
					</div>
					
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
			</div>
		</div>
		
		</div>	
	</div>
</body>
</html>
